<html>
	<head>
		<meta http-equiv = "Content-Type" content = "text/html;charset=gb2312">
		<title>Map Search</title>
    <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=AIzaSyDY0kkJiTPVd2U7aTOAwhc9ySH6oHxOIYM&sensor=false"></script>
	</head>

  <body bgcolor="#B8B8DC">
    <div id="show" style="position:absolute;width:20%;height:95%;overflow: auto">
        <div style="padding-left: 40px">
            <br>
                <label>The K-nearest Position:</label><br>
                <input type="text" id="num"/><br>
            <br>
	        <label>Word(s) For Search:</label><br>
            <input type="text" id="text" onkeyup="showSearch()"/><br>
        </div>
        <div id="result"></div>
    </div>

    <div id="map-canvas" style="position:absolute;left:22%;width:77%;height:97%"></div>

  </body>
</html>

<script>
var map;
var z_marker;
var markers = [];

function initialize() {
  // at google, Singapore
  var init_latlng = new google.maps.LatLng(1.352083, 103.81983600000001);
    var defaultZoom = 20;
  var mapOptions = {
    zoom: 14,
    center: init_latlng,
    mapTypeId: google.maps.MapTypeId.ROADMAP
  };
  map = new google.maps.Map(document.getElementById('map-canvas'),
      mapOptions);

  google.maps.event.addListener(map, 'zoom_changed', function () {
      if (map.getZoom() > defaultZoom){
          map.setZoom(defaultZoom);
      }
  });
  z_marker = new google.maps.Marker({
    position: init_latlng,
    map: map,
    draggable: true,
    title: "Current Position!",
    animation: google.maps.Animation.DROP,
    icon: "http://maps.google.com/mapfiles/kml/paddle/G.png"
  });

  google.maps.event.addListener(z_marker, 'click', function() {
    map.setCenter(z_marker.getPosition());
  });
    google.maps.event.addListener(map, 'zoom_changed', function () {
      if (map.getZoom() > defaultZoom){
          map.setZoom(defaultZoom);
      }
  });
  document.getElementById('num').value = "5";
  document.getElementById('text').value = "";
}

google.maps.event.addDomListener(window, 'load', initialize);

function setAllMap(map) {
  for (var i = 0; i < markers.length; i++) {
    markers[i].setMap(map);
  }
}
function deleteMarkers() {
  for (var i = 0; i < markers.length; ++i) {
    markers[i].setMap(null);
  }
  markers = [];
}

function addMarker(lat, lng,tit) {
    var newmarker = new google.maps.Marker({
        position: new google.maps.LatLng(lat, lng),
        map: map,
        title:tit,
        animation: google.maps.Animation.DROP,
        icon: "http://maps.google.com/mapfiles/marker_green.png"

  });
    markers.push(newmarker);
    google.maps.event.addListener(newmarker, 'click', function() {
        map.setCenter(newmarker.getPosition());
        if (newmarker.getAnimation() != null)newmarker.setAnimation(null);
        else newmarker.setAnimation(google.maps.Animation.BOUNCE);
        var bounds1 = new google.maps.LatLngBounds();
        bounds1.extend(new google.maps.LatLng(lat,lng));
        map.fitBounds(bounds1);
				});

}

function showSearch() {
  var num = parseInt(document.getElementById('num').value);
  if (isNaN(num)) {
    num = 5;
  }
  document.getElementById('num').value = num;
  var str = document.getElementById('text').value;

  var xmlhttp;
  if (str.length == 0) {
    document.getElementById("result").innerHTML="";
    return;
  }
  if (window.XMLHttpRequest) {
    // code for IE7+, Firefox, Chrome, Opera, Safari
    xmlhttp = new XMLHttpRequest();
  } else {
    // code for IE6, IE5
    xmlhttp = new ActiveXObject("Microsoft.XMLHTTP");
  }
  xmlhttp.onreadystatechange = function() {
    if (xmlhttp.readyState == 4 && xmlhttp.status == 200) {
      // order: name, lat, lng, addr
      var pois = eval("("+xmlhttp.responseText+")");

      deleteMarkers();
        var latlngbounds = new google.maps.LatLngBounds();
      var show_text = "<ol>";
      for (var i = 0; i < pois.length; ++i) {
        show_text += "<li><b><font color=#0000C6>" + pois[i][0] +
          "</font></b><br><font color=#007500>" +pois[i][3]+ "</font><br></li>";
        addMarker(pois[i][1], pois[i][2],i + 1 +". " + pois[i][0]);
          latlngbounds.extend(new google.maps.LatLng(pois[i][1],pois[i][2]));
      }
      show_text +="</ol>";
      document.getElementById("result").innerHTML = show_text;
        map.fitBounds(latlngbounds);
    }
  }
  var latlng = z_marker.getPosition();
  xmlhttp.open("GET", "/search?q="+str+"&num="+num+
      "&lat="+latlng.lat()+"&lng="+latlng.lng(), true);
  xmlhttp.send();
}
</script>
